extends index

block head
  title Spartan Market | Checkout

block content

    <!-- Page info -->
    <div class="page-top-info">
      <div class="container">
        <h4>Checkout</h4>
        <div class="site-pagination"></div>
      </div>
    </div>

    <!-- checkout section  -->
    <section class="login-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-2 order-lg-1">
            <form class="login-form" action="/checkoutform" method ="post">
              <div class="cf-title">Billing Address</div>
              <div class="row">
                <div class="col-md-12">
                  <p>*Billing Information</p>
                </div>
              </div>
              <div class="row user-inputs">
                <div class="col-md-12">
                  <input type="text" placeholder="Street" name="street" required />
                  <input type="text" placeholder="City" name="city"required />
                </div>
                <div class="col-md-6">
                  <input type="text" placeholder="State" name="state" required />
                </div>
                <div class="col-md-6">
                  <input type="text" placeholder="Zip" name="zip" pattern="[0-9]{5}" required />
                </div>
              </div>
              <div class="cf-title">Payment</div>
              <div class="row user-inputs">
                <div class="col-md-12">
                  <input type="text" placeholder="Card Number" name="cardnumber" pattern="[0-9]{16}" required />
                  <input type="text" placeholder="Cardholder Name" name="cardholder" required />
                </div>
                <div class="col-md-6">
                  <input type="text" placeholder="Year" name="expirationY" required pattern="[0-9]{4}" />
                  <input type="text" placeholder="Month" name="expirationM" required pattern="(?:0[1-9]|1[0-2])" />
                </div>
                <div class="col-md-6">
                  <select name="card" required>
                    <option value="VISA">VISA</option>
                    <option value="MasterCard">MasterCard</option>
                    <option value="DISCOVER">DISCOVER</option>
                    <option value="AMEX">AMEX</option>
                  </select>
                </div>
              </div>
              <div class="cf-title">Shipping Info</div>
              <p>
                |We charge <b>$3.90</b> for each order placed to make sure the
                |items are delivered safely to the hard-working Spartans !
              </p>

              <button class="site-btn submit-order-btn">Place Order</button>
            </form>
          </div>
          <div class="col-lg-4 order-1 order-lg-2">
            <div class="checkout-cart">
              <h3>Your Cart</h3>
              <ul class="price-list">
                <li>Cost<span>$#{total.toFixed(2)}</span></li>
                <li>Shipping<span>$3.90</span></li>
                - var temp = total + 3.9
                <li class="total">Total<span>$#{temp.toFixed(2)}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- checkout section end -->