<!DOCTYPE html>
<html>
  <head>
    <title>Spartan Market</title>
  </head>
  <body>
    <h1>Welcome to Spartan Market</h1>

    <div class="form">
    <form action="/signup" method = "post">
      <button>Sign Up</button>
    </form>

    <div class="form">
    <form action="/login" method = "post">
      <button>Login</button>
    </form>

  </body>
</html>
