<!DOCTYPE html>
<html>
  <head>
    <title>Spartan Market</title>
  </head>
  <body>
    <h1>Welcome to Spartan Market</h1>

    <div class="contrainer">
      <div class="jumpbotron text-center">
        <a href="/loginform">Login</a>
        <br>
        <a href="/signupform">Sign Up</a>
      </div>
    </div>

  </body>
</html>
