<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="form">
      <h2>Login information</h2>
      if (message) 
      <h3> #{message}</h3>    
      <form action="/login" method="post">
        <input type="text" placeholder="User ID" name="userid" required/>
        <input type="password" placeholder="Password" name="password" required/>
        <button type="submit">Login</button>
      </form>
    </div>

  </body>
</html>
