extends index

block head
  title Spartan Market | Profile

block content

  <!-- Page info -->
    <div class="page-top-info">
      <div class="container">
        <h4>Profile</h4>
        <div class="site-pagination"></div>
      </div>
    </div>

    <section class="cart-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="cart-table">
              <div class="pc-title">
                <h4>#{user.UserID}</h4>
                <p>Username</p>
              </div>
              <div class="pc-title">
                <h4>#{user.FirstName}</h4>
                <p>First Name</p>
              </div>
              <div class="pc-title">
                <h4>#{user.LastName}</h4>
                <p>Last Name</p>
              </div>
              <div class="pc-title">
                <h4>#{user.PhoneNumber}</h4>
                <p>Phone Number</p>
              </div>
              <div class="total-cost">
                <h6><a href="logout"><span>LOGOUT</span></a></h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 card-right">
            <a href="/editprofile"><button class="site-btn sb-dark">EDIT PROFILE</button></a>
          </div>
        </div> 
        //- <div class="row">
        //-   <div class="col-lg-8">
        //-     <div class="center-it padding-on-top">
        //-       <button class="site-btn sb-line sb-dark">LOAD MORE</button>
        //-     </div>
        //-   </div>
        //- </div>
        </div> 
      </div>
    </section>
  <!-- Page info end -->
  

