extends index

block content
  br
  
  <div class="container">
    <h3>Profile Page<h3>
    li= user.FirstName
    li= user.LastName
    li= user.PhoneNumber

  <li><a href="/logout">Logout</a></li>

  </div>
  

