html
   head
      title Signup
   body
      h1 #{"DEMO"}
      form(action = "/signup/submit" method = "POST")
      input(name = "id", type = "text", placeholder = "User ID")
      button(type = "submit") Sign up!