<!DOCTYPE html>
<html>
  <head>
      <title>Sign Up</title>
  </head>
  <body>  

   <div class="form">
   <h2>Sign Up information</h2>
   <form action="/signup/submit" method = "post">
      <input type="text" placeholder="User ID" name="userid" required/><br><br>
      <input type="password" placeholder="Password" name="password" required/><br><br>
      <input type="text" placeholder="First Name" name="firstname" required/><br><br>
      <input type="text" placeholder="Last Name" name="lastname" required/><br><br>
      <input type="text" placeholder="Phone Number" name="phonenumber"/><br><br>
      <button>Sign Up</button>
   </form>


  </body>
</html>