<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Spartan Market | Checkout</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <!-- <link href="img/favicon.ico" rel="shortcut icon" /> -->

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Caveat&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/css/flaticon.css" />
    <link rel="stylesheet" href="../public/css/slicknav.min.css" />
    <link rel="stylesheet" href="../public/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="../public/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../public/css/animate.css" />
    <link rel="stylesheet" href="../public/css/style.css" />

    <style>
      .spartanheader {
        max-width: 220%;
        height: auto;
      }

      .spacingnavbar {
        padding-right: 10px;
      }

      .spacingprofile {
        padding-right: 15px;
      }

      .spartanmarketfont {
        font-family: 'Caveat', cursive;
        font-size: 20px;
      }

      .description {
        font-size: 8px;
      }
    </style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header section -->
    <!-- <div class="text-center"> -->
    <header class="header-section">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 text-center text-lg-left">
              <div class="row">
                <div class="col-lg-3">
                  <img
                    class="spartanheader"
                    src="../public/img/logo.png"
                    alt=""
                  />
                </div>
                <div class="col-lg-9 text-right">
                  <span class="spartanmarketfont">Spartan Market</span>
                </div>
              </div>
              <!-- logo -->
            </div>
            <div class="col-xl-6 col-lg-5">
              <form class="header-search-form">
                <input type="text" placeholder="Search for an item ...." />
                <button><i class="flaticon-search"></i></button>
              </form>
            </div>
            <div class="col-xl-4 col-lg-5">
              <div class="user-panel">
                <div class="up-item">
                  <i class="flaticon-profile"></i>
                  <a href="#">Profile</a>
                  <span class="spacingprofile"></span>
                  <a href="#">Log Out</a>
                </div>
                <!-- <div class="up-item">
                  <a href="#">Log Out</a>
                </div> -->
                <div class="up-item">
                  <div class="shopping-card">
                    <i class="flaticon-bag"></i>
                    <span>0</span>
                  </div>
                  <a href="#">Shopping Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="main-navbar">
        <div class="container">
          <!-- menu -->
          <ul class="main-menu">
            <li><a href="#">Home</a></li>
            <span class="spacingnavbar"></span>
            <li><a href="#">Women</a></li>
            <span class="spacingnavbar"></span>
            <li><a href="#">Men</a></li>
            <span class="spacingnavbar"></span>
            <li><a href="#">Books</a></li>
            <span class="spacingnavbar"></span>
            <li><a href="#">Stationery</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- </div> -->
    <!-- Header section end -->
    <!-- Page info -->
    <div class="page-top-info">
      <div class="container">
        <h4>SUCCESS</h4>
        <div class="site-pagination"></div>
      </div>
    </div>

    <!-- Contact section -->
    <section class="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 contact-info">
            <h3>Thank you for shopping with us!</h3>
            <p>Your items will be delivered in <b>3 days</b>.</p>
            <p>
              You paid a total of <b><span>$99.90</span>.</b>
            </p>
            <form class="contact-form">
              <button class="site-btn">GO TO HOME</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact section end -->

    <!-- Footer section -->
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="footer-widget about-widget">
              <h2>About</h2>
              <p>
                We are passinate CS students at SJSU working with the great
                Professor Wu to accomplish this project!
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="footer-widget contact-widget">
              <h2>Contact Us</h2>
              <div class="con-info">
                <span>A.</span>
                <p>Maan Singh</p>
              </div>
              <div class="con-info">
                <span>B.</span>
                <p>Tien Ly</p>
              </div>
              <div class="con-info">
                <span>C.</span>
                <p>Ge Ou</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="social-links-warp">
        <div class="container">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p class="text-white text-center mt-5">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
          <p class="text-white text-center mt-5">ALL HAIL PROFESSOR WU!</p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </section>
    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    <script src="../public/js/jquery-3.2.1.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/jquery.slicknav.min.js"></script>
    <script src="../public/js/owl.carousel.min.js"></script>
    <script src="../public/js/jquery.nicescroll.min.js"></script>
    <script src="../public/js/jquery.zoom.min.js"></script>
    <script src="../public/js/jquery-ui.min.js"></script>
    <script src="../public/js/main.js"></script>
  </body>
</html>
