extends index

block head
  title Spartan Market | Confirmation

block content

    <!-- Page info -->
    <div class="page-top-info">
      <div class="container">
        <h4>SUCCESS</h4>
        <div class="site-pagination"></div>
      </div>
    </div>

    <!-- Confirmation section -->
    <section class="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 contact-info">
            <h3>Thank you for shopping with us!</h3>
            <p>Your items will be delivered in <b>3 days</b>.</p>
            <p>You paid a total of <b><span>$99.90</span>.</b></p>
            <form class="contact-form">
              <a href="/" class="site-btn" >GO TO HOME</a>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Confirmation section end -->